*,*::after,*::before{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    background-color: #009394;
    border: 3px solid #006270;
    border-radius: 5px;
    color: #fff;
    box-shadow: 5px 5px 10px #888;
}

.box h3{
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 15px 0 10px 0;
}

.box h4{
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.box-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0 10px 0;
}

.box-holder .small-box input{
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid #006270;
    text-decoration: none;
    
}

.small-box p{
    padding: 0 0 2px 0;
}

.box-holder .small-box input:focus{
    border: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.submit{
    padding: 5px 30px 5px 30px;
    margin: 0 0 15px 0;
    border-radius: 50px;
    background-color: #006270;
    color: #fff;
    border: 2px solid #555;
    box-shadow: 3px 3px 5px #444;
    cursor: pointer;
}

h4{
    font-size: 12px;
}

.result{
    display: none;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
}